agate==1.7.1
aiobotocore==2.14.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aioitertools==0.12.0
aiosignal==1.3.1
altair==5.4.1
amqp==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
asyncssh==2.17.0
atpublic==5.0
attrs==24.2.0
Automat==24.8.1
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
blinker==1.8.2
boto3==1.35.7
botocore==1.35.7
cachetools==5.5.0
celery==5.4.0
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
configobj==5.0.8
constantly==23.10.4
cryptography==43.0.1
cssselect==1.2.0
dataclasses-json==0.6.7
dbt-core==1.7.18
dbt-duckdb==1.7.0
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.4.4
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dictdiffer==0.9.0
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
docstring_parser==0.16
dpath==2.2.0
duckdb==0.8.1
duckdb_engine==0.13.2
dulwich==0.22.1
dvc==3.55.2
dvc-data==3.16.5
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-s3==3.2.0
dvc-studio-client==0.21.0
dvc-task==0.4.0
entrypoints==0.4
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.15.4
flatten-dict==0.4.2
flufl.lock==8.1.0
fqdn==1.5.1
frictionless==4.40.8
frozenlist==1.4.1
fsspec==2024.6.1
funcy==2.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.4
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.63.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-generativeai==0.5.4
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
grandalf==0.8
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.66.0
grpcio-status==1.62.3
gto==1.7.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hydra-core==1.3.2
hyperlink==21.0.0
idna==3.8
importlib-metadata==6.11.0
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
isodate==0.6.1
isoduration==20.11.0
itemadapter==0.9.0
itemloaders==1.3.1
iterative-telemetry==0.0.8
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.6.17
kombu==5.4.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
langsmith==0.1.111
leather==0.4.0
llama-cloud==0.0.15
llama-index==0.11.1
llama-index-agent-openai==0.3.0
llama-index-cli==0.3.0
llama-index-core==0.11.1
llama-index-embeddings-openai==0.2.3
llama-index-indices-managed-llama-cloud==0.3.0
llama-index-legacy==0.9.48.post3
llama-index-llms-gemini==0.3.4
llama-index-llms-openai==0.2.0
llama-index-llms-vertex==0.3.3
llama-index-multi-modal-llms-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.0
llama-index-readers-llama-parse==0.2.0
llama-parse==0.5.0
Logbook==1.5.3
lxml==5.3.0
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.22.0
mashumaro==3.13.1
matplotlib-inline==0.1.7
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mistune==3.0.2
more-itertools==10.4.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
narwhals==1.5.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
omegaconf==2.3.0
openai==1.42.0
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==2.0.0
pandocfilters==1.5.1
parsedatetime==2.6
parsel==1.9.1
parso==0.8.4
pathspec==0.11.2
petl==1.7.15
pexpect==4.9.0
Pillow==9.5.0
platformdirs==3.11.0
plotly==5.24.0
pluggy==1.5.0
ply==3.11
prometheus_client==0.20.0
prompt_toolkit==3.0.47
Protego==0.2.1
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
PyDispatcher==2.0.7
pydot==3.0.1
pygit2==1.15.1
Pygments==2.18.0
pygtrie==2.5.0
Pympler==1.1
pyOpenSSL==24.2.1
pyparsing==3.1.4
pypdf==4.3.1
pytest==8.3.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.5.2
QtPy==2.4.1
queuelib==1.7.0
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-file==2.1.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.8.0
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3fs==2024.6.1
s3transfer==0.10.2
scipy==1.14.1
scmrepo==3.3.7
Scrapy==2.11.2
semver==3.0.2
Send2Trash==1.8.3
service-identity==24.1.0
shapely==2.0.6
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
simpleeval==0.9.13
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.32
sqlite-fts4==1.0.3
sqlite-utils==3.37
sqlparse==0.5.1
sqltrie==0.11.1
stack-data==0.6.3
streamlit==1.38.0
stringcase==1.2.0
striprtf==0.0.26
tabulate==0.9.0
tenacity==8.5.0
terminado==0.18.1
text-unidecode==1.3
tiktoken==0.7.0
tinycss2==1.3.0
tldextract==5.1.2
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transfermarkt-scraper @ git+https://github.com/dcaribou/transfermarkt-scraper.git@a94d3d7f89eb6c36780d70eb84897e40f8f8b58b
Twisted==24.7.0
typer==0.12.5
types-python-dateutil==2.9.0.20240821
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==4.3.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
uvloop==0.20.0
validators==0.34.0
vine==5.1.0
voluptuous==0.15.2
w3lib==2.2.1
watchdog==5.0.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wrapt==1.16.0
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.20.1
zope.interface==7.0.3
